@media (max-width: 991.98px) {
    .header-content p {
        padding: 4.5rem 0;
    }
    #get-section {
        padding: 8rem 0;
    }
    #get-section p {
        margin: 4.5rem 0;
    }
    #get-section .col-lg-6 {
        padding: 4rem 0;
    }
    #testimonial-section {
        padding-top: 10rem;
    }
    #testimonial-section .col-lg-4,
    #testimonial-section .col-lg-8 {
        padding: 4rem 0;
    }
    #testimonial-section .col-lg-4 {
        padding-bottom: 0;
    }
    #testimonial-section .testimonial-phone {
        margin: auto;
    }
    .testimonial {
        margin-left: 0;
    }
    .testimonial::after {
        content: '';
        top: 108%;
        left: 175px;
        transform: translateX(-100%) translateY(-50%) rotate(-90deg);
    }
    #get-section p {
        margin: .5rem 0;
        margin-bottom: 5rem;
    }
    .uk-sticky-fixed::before {
        width: 35%;
    }
}

@media (max-width: 767.98px) {
    html {
        font-size: 57%;
    }
    .header-content {
        padding-top: 15rem;
    }
    .header-content .col-md-6 {
        padding: 5rem 0;
    }
    .header-content .col-md-6:nth-child(1) {
        padding-bottom: 0;
    }
    .header-content .col-md-6:nth-child(2) {
        text-align: center;
    }
    .header-phone {
        margin: auto;
    }
    #header-section {
        background: #f9f9f9;
    }
    #header-section::before {
        content: '';
        width: 100%;
        height: 100%;
        background: #41e0d8;
        -webkit-clip-path: polygon(0 33%, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 33%, 100% 0, 100% 100%, 0% 100%);
    }
    nav ul li a {
        color: #242424;
    }
    nav ul li:hover a {
        color: #41e0d8;
    }
    nav ul .header-button a {
        color: rgb(255, 255, 255);
    }
    nav ul .header-button:hover {
        background: #262a34;
    }
    nav ul .header-button:hover a {
        color: #41e0d8;
        text-decoration: none;
    }
    #get-section {
        padding: 5rem 0;
    }
    .testimonial {
        height: 26.5rem;
        margin-left: 0;
    }
    .testimonial::after {
        top: 107%;
    }
    #subscribe-section input[type="email"] {
        width: 100%;
    }
    .subscribe-button {
        margin-top: 3rem;
    }
    .testimonial-item {
        padding: 2rem 5.8rem 2rem 3.8rem;
    }
    #testimonial-section .testimonial p {
        /* padding: 4rem 0.2rem 3rem 2.2rem; */
        margin-bottom: 0;
    }
}

@media (max-width: 575.98px) {
    .owl-carousel {
        padding: 0 4rem;
    }
    #testimonial-section .testimonial p {
        padding: 4rem 0.2rem 3rem 2.2rem;
        margin-bottom: 0;
    }
    #testimonial-section .testimonial .person-name {
        display: block;
        margin-bottom: 5rem;
    }
    .testimonial-item {
        padding: 3rem 0.8rem 2rem 0.8rem;
    }
    .testimonial::after {
        top: 107%;
    }
    nav ul .header-button {
        margin-left: 2rem;
    }
}

@media (max-width: 559px) {
    #testimonial-section .testimonial p {
        line-height: 2.5rem;
    }
}

@media (max-width: 530px) {
    .testimonial {
        height: 28rem;
    }
    #testimonial-section .testimonial p {
        line-height: 2.5rem;
    }
    .testimonial::after {
        top: 106.8%;
    }
    .header-content {
        padding-top: 8rem;
    }
}

@media (max-width: 478px) {
    #testimonial-section .testimonial p {
        line-height: 2.4rem;
    }
    .testimonial::after {
        top: 106.5%;
    }
}

@media (max-width: 422px) {
    .testimonial {
        height: 32rem;
    }
    #testimonial-section .testimonial .person-name {
        margin-bottom: 10rem;
    }
    .testimonial::after {
        top: 105.9%;
    }
    .header-content {
        padding-top: 5rem;
    }
}

@media (max-width: 405px) {
    #testimonial-section .testimonial .person-name {
        margin-bottom: 6rem;
    }
    .uk-sticky-fixed::before {
        width: 30%;
    }
    .button {
        padding: 2rem 2rem;
    }
}

@media (max-width: 340px) {
    .testimonial {
        height: 36rem;
    }
    .testimonial::after {
        top: 105.5%;
    }
    html {
        font-size: 50%;
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 49px;
    }
}